.service-main > h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: #c6c6c6;
  margin: 25px 0 25px 0;
}

.service-main > h3 {
  display: flex;
  justify-content: center;
  font-size: 38px;
  color: #c6c6c6;
}

.service-content {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.service-content > ul > li {
  margin-bottom: 35px;
}

.service-content > ul > li > button {
  gap: 20px;
}

.service-content > ul > li > button > img {
  gap: 16px;
  max-width: 100px;
  width: 100%;
  background: transparent;
}

.service-button {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-button {
  all: unset;
  width: 250px;
  height: 50px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.service-button::after,
.service-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.service-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.service-button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.service-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.service-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.service-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

@media (max-width: 768px) {
  .service-main > h1 {
    font-size: 32px;
  }
  .service-main > h3 {
    font-size: 28px;
    display: block;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .service-main > h1 {
    font-size: 24px;
  }
  .service-main > h3 {
    font-size: 20px;
    display: block;
    text-align: center;
  }
}

@media (min-width: 770px) and (max-width: 910px) {
  .service-main > h3 {
    display: block;
    text-align: center;
  }
}