.payment-page {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--bg-color);
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  //width: 476px;
  padding: 1.5rem 16px 1.5rem 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.address-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.restaurant-address {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  text-align: center;
}

.invoice-number {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #8F8F8F;
  margin-bottom: 0.5rem;
}

.section-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  text-align: start;
}

.tip-section {
  position: relative;
}

.tip-content {
  transition: filter 0.3s ease;

  &.blurred {
    filter: blur(6px);
    pointer-events: none;
    user-select: none;
  }
}

.tip-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 700;
  color: #b73301;

  border-radius: 1rem;

  pointer-events: none;
}

.footer {
  font-size: 0.875rem;
  color: #888888;
  text-align: center;
  margin-top: auto;
  padding-top: 1.5rem;
}

.toast-error {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4d4f;
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  animation: fadein 0.3s, fadeout 0.3s 4.7s;
}

@keyframes fadein {
  from {
    bottom: 50px;
    opacity: 0;
  }
  to {
    bottom: 80px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 80px;
    opacity: 1;
  }
  to {
    bottom: 110px;
    opacity: 0;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .content {
    padding: 3.5rem 16px 1.5rem 16px;
  }
}
