@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --color-lightgray: lightgray;
    --color-lightgreen: rgba(191, 216, 191, 0.49);
    --color-black: #040202;
    --color-white: #ffffff;
    --color-grey: #aaaaaa;
    --color-green: #4bb543;
    --color-navy: #171A64;

    --bg-color: #ffffff;
    --text-color: #040202;
    --badge-color: #ff6b35;
    --card-border-color: #f0f0f0;
    --card-shadow: rgba(0, 0, 0, 0.05);
    --inactive-payment-method-color: #EBEBEB;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /*font-family: 'Judson', serif;*/
    font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    min-height: 100vh;
}

[data-theme="dark"] {
    --bg-color: #040202;
    --text-color: #ffffff;
    --badge-color: #ff9f00;
    --payment-method-color: #242426;
    --popular-payment-method-color: #F4E7E2;
    --inactive-payment-method-color: #4B4B4B;
    --payment-method-border: #242426;
    --payment-provider: #FFFFFF;
    --popular-payment-provider: #040202;
}

[data-theme="cream"] {
    --bg-color: #F4F2F0;
    --text-color: var(--color-black);
    --invoice-color: #8F8F8F;
    --badge-color: #DAA520;
    --payment-method-color: #FFFFFF;
    --popular-payment-method-color: #FFFFFF;
    --inactive-payment-method-color: #EBEBEB;
    --payment-method-border: #f0f0f0;
    --payment-provider: #000000;
    --popular-payment-provider: #040202;
}

ul,
ol {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
